@import "tailwindcss";

@layer base {
  .leaflet-popup-content-wrapper {
    background-color: #111827 !important;
    color: white !important;
    border: 1px solid #374151 !important;
  }

  .leaflet-popup-tip {
    background-color: #111827 !important;
  }

  .leaflet-container a.leaflet-popup-close-button {
    color: white !important;
  }

  .leaflet-container a.leaflet-popup-close-button:hover {
    color: #d1d5db !important;
  }
}
